# sample app.env

# gorm connection string
GORM_CONNECTION="user:password@tcp(127.0.0.1:3306)/database?parseTime=true"

#listening to any address
SERVER_PORT=8080

# Flow Network
FLOW_NETWORK=testnet

# Flow DAO Backend Resource Address
FLOW_BACKEND_ADDR=0xf8d6e0586b0a20c7

# Flow DAO Backend Resource Address
FLOW_BACKEND_KEY=de80986cdfd9f33f63df9759d29fa797814d4194c29e73adf0fd04b96b581a1b

# GCP Project ID
GCP_PROJECT_ID=123456789123